@import url('http://fonts.cdnfonts.com/css/fredoka-one');

$svg-font: 'Fredoka One', sans-serif;

.svg-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  .svg-view {
    height: 50%;
    width: 100px;
  }
  .svg-text{
    font-family: $svg-font;
    color: #333333;
  }
}
