@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');


$mobile-break-point: 320px;
$ereaders-break-point: 481px;
$tablets-potrait-break-point: 641px;
$tablets-landscape-break-point: 801px;
$laptops-break-point: 1025px;
$hi-res-break-point: 1281px;


$font:  'Helvetica 65 Medium', sans-serif;
$font-size: 6px;

.auth-button-container {
  display: flex;
  align-items: center;
  // justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
  .auth-button-text {
    font-family: $font;
    font-size: $font-size;
    font-weight: 600;
    text-transform: uppercase;
    align-self: center;
    letter-spacing: 0.4px;
    @media only screen and (max-width: 205px) {
      display: none;
      width: 0px;
    }
    @media only screen and (max-width: $mobile-break-point){
      font-size: ($font-size) - 2;
    }
    @media only screen and (min-width: $ereaders-break-point){
      font-size: ($font-size) - 2;;
    }
    @media only screen and (min-width: $tablets-potrait-break-point){
      font-size: ($font-size) - 1;
    }
    @media only screen and (min-width: $tablets-landscape-break-point){
      font-size: ($font-size) - 1;
    }
    @media only screen and (min-width: $laptops-break-point){
      font-size: $font-size;
    }
    @media (min-width: $hi-res-break-point) { 
      font-size: ($font-size) + 2;
    }
  }
  .icon {
    $icon-font-szie: 20px;
    padding-right: 1vh;
    @media only screen and (max-width: 205px) {
      font-size: ($icon-font-szie) - 14;
    }
    @media only screen and (max-width: $mobile-break-point){
      font-size: ($icon-font-szie) - 10;
    }
    @media only screen and (min-width: $ereaders-break-point){
      font-size: ($icon-font-szie) - 8;
    }
    @media only screen and (min-width: $tablets-potrait-break-point){
      font-size: ($icon-font-szie) - 6;
    }
    @media only screen and (min-width: $tablets-landscape-break-point){
      font-size: ($icon-font-szie) - 4;
    }
    @media only screen and (min-width: $laptops-break-point){
      font-size: ($icon-font-szie);
    }
    @media (min-width: $hi-res-break-point) { 
      font-size: ($icon-font-szie);
    }
  }
}