:root {
  --mobile-break-point: 320px;
  --ereaders-break-point: 481px;
  --tablets-potrait-break-point: 641px;
  --tablets-landscape-break-point: 801px;
  --laptops-break-point: 1025px;
  --hi-res-break-point: 1281px;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  background-color: #D9D9D9;
}